<!DOCTYPE html>
<html>
<head>
  <title>Fritz Up?</title>
  <!-- <link rel="stylesheet" type="text/css" href="/styles.css"> -->
</head>
<body>
<div><h1> Fritter <h1> </div>

{% if not username == null %}

    <li>Feed for {{username}}</li>

{% endif %}

<a href="/"><button>Return</button></a>

<div class=timeline id="timeline">
    <ul>
  {% for a in feed %}
          <li>{{a.username}}</li>
          <li>{{a.content}}</li>
          <li>{{a.tweetDt}}</li>
  {% endfor %}
      </ul>
</div>


<div class=outer>
<div class=feed id="feed">

</div>
</div>
</body>
</html>
