<!DOCTYPE html>
<html>
<head>
  <title>Popular Fritters</title>
  <!-- <link rel="stylesheet" type="text/css" href="/styles.css"> -->
</head>
<body>

<div><h1> Fritter <h1> </div>

{% if not username == null %}

    <li>{{username}}, these are popular Fritters </li>

{% endif %}

<a href="/"><button>Return</button></a>


  {% for a in timeline %}
<div class=timeline id="timeline">
      <ul>
          <li followusr={{a.id}}>{{a.username}}</li>
          <a href="/follow" followButton="follow"><button>follow</button></a>
      </ul>
  </div>
  {% endfor %}
</div>
</div>

<script type="text/javascript">
var divItems = document.getElementById("timeline");

divItems.addEventListener('click',function(evt){
            alert(event.target.getAttribute("followusr"));
    });
// script for follow button
var followButton = document.getElementById('follow');
followButton.onclick = function(evt) {
  var xhrFollow = new XMLHttpRequest();
  console.log("i am here");
  xhrFollow.open('POST', '/follow');
  xhrFollow.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
  xhrFollow.onload = function() {
      if (xhrFollow.status !== 200) {
        alert('Request failed.  Returned status of ' + xhrFollow.status);
    }
    };
    var followusr = document.getElementById('followusr').value;
    console.log(followusr);
    var returnBody = 'followedUserNm=' + encodeURIComponent(followusr);
    console.log(returnBody);
        xhrFollow.send(returnBody);

};
</script>
</body>
</html>
