<!DOCTYPE html>
<html>
<head>
  <title>Popular Fritters</title>
  <!-- <link rel="stylesheet" type="text/css" href="/styles.css"> -->
</head>
<body>

<div><h1> Fritter <h1> </div>

{% if not username == null %}

    <li>{{username}}, these are popular Fritters </li>

{% endif %}

<a href="/"><button>Return</button></a>

<div class=timeline id="timeline">
    <ul>
  {% for a in timeline %}
          <li followedUser={{a.id}}>{{a.username}}</li>
          <li id="{{a.id}}"><button followButton="{{a.id}}">follow</button></li>
  {% endfor %}
      </ul>
</div>

</div>
</div>

<script type="text/javascript">
// script for follow button
var divItems = document.getElementById("timeline");
var followedUser;
divItems.addEventListener('click',function(evt){
    followedUser = event.target.getAttribute("followButton");
    });

divItems.onclick = function(evt) {
  var xhrFollow = new XMLHttpRequest();
  console.log("i am here");
  xhrFollow.open('POST', '/follow');
  xhrFollow.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
  xhrFollow.onload = function() {
      if (xhrFollow.status !== 200) {
        alert('Request failed.  Returned status of ' + xhrFollow.status);
    }
    };
    console.log(followedUser);
    var returnBody = 'followedUser=' + encodeURIComponent(followedUser);
    console.log(returnBody);
        xhrFollow.send(returnBody);

};
</script>
</body>
</html>
